# Day 3

 * Data Types
     * Numbers 
     * Strings
     * Variable Assignemnt
     * Printing 
     * String Methods 
     * Lists 
     * Dictionaries 
     * Boolians 
     * Tuples 
     * Sets 
     
* Basic Operations 
    * Comaparison 
    * if, elif, else statements
    * for loops 
    * While loops 
    * range()
    * linspace()
    * list comprehension
    * functions
    * Lambda expressions
    * Map & filter

## Numbers

In [1]:
1+3

4

In [2]:
(1+5)*(5-2)

18

In [3]:
3**3

27

This $\%$ will return the remainder of the opreation

In [4]:
13%3

1

In [5]:
15//4

3

In [6]:
3//4

0

In [7]:
3/2

1.5

In [10]:
# This will return an interger as the quotient
3//2

1

In [11]:
type (2.173279849)

float

In [12]:
type(-3.4)

float

In [13]:
type((2)**0.5)

float

In [14]:
(16)**0.5

4.0

## Strings

In [15]:
# Strings are sequences of alpha character data. 
print('I am a string and I am in a single quotation')

I am a string and I am in a single quotation

In [16]:
type('I am a string and I am in a single quotation')

str

In [17]:
print("I am a string and I am in a double quotation")

I am a string and I am in a double quotation

In [18]:
type("I am a string and I am in a double quotation")

str