# Day 3

 * Data Types
     * Numbers 
     * Strings
     * Variable Assignemnt
     * Printing 
     * String Methods 
     * Lists 
     * Dictionaries 
     * Boolians 
     * Tuples 
     * Sets 
     
* Basic Operations 
    * Comaparison 
    * if, elif, else statements
    * for loops 
    * While loops 
    * range()
    * linspace()
    * list comprehension
    * functions
    * Lambda expressions
    * Map & filter

## Numbers

In [1]:
1+3

4

In [2]:
(1+5)*(5-2)

18

In [3]:
3**3

27

This $\%$ will return the remainder of the opreation

In [4]:
13%3

1

In [5]:
15//4

3

In [6]:
3//4

0

In [7]:
3/2

1.5

In [10]:
# This will return an interger as the quotient
3//2

1

In [11]:
type (2.173279849)

float

In [12]:
type(-3.4)

float

In [13]:
type((2)**0.5)

float

In [14]:
(16)**0.5

4.0

## Strings

In [15]:
# Strings are sequences of alpha character data. 
print('I am a string and I am in a single quotation')

I am a string and I am in a single quotation

In [16]:
type('I am a string and I am in a single quotation')

str

In [17]:
print("I am a string and I am in a double quotation")

I am a string and I am in a double quotation

In [18]:
type("I am a string and I am in a double quotation")

str

In [1]:
type(" ")

str

## Variable Assignment

In [ ]:
name = 'Madison'

In [2]:
123_var = 10

SyntaxError: invalid decimal literal (739953904.py, line 1)

In [3]:
var_123 = 4

In [12]:
x = 1
y = 2 
z = x + y

In [16]:
z

3

In [17]:
print(x)

1

In [22]:
x = 'Madison'

In [23]:
x

'Madison'

In [24]:
print(x)

Madison

In [20]:
name = 'Madison'

In [21]:
print('Hello',name,"welcome to REU")

Hello Madison welcome to REU

In [27]:
print('Hello ' + name + " welcome to REU")

Hello Madison welcome to REU

In [29]:
first_name = 'Madison'
last_name = 'Norwood'

In [33]:
print('Hello HU! My first name is: {One} and my last name is {Two}'.format(Two=last_name, One=first_name))

Hello HU! My first name is: Madison and my last name is Norwood

In [34]:
print('Hello HU! My first name is: {} and my last name is {}'.format(first_name, last_name))

Hello HU! My first name is: Madison and my last name is Norwood

## String Method

In [2]:
name = 'madison'

In [3]:
# Title method 
print(name.title())

Madison

In [4]:
# Upper method 
print(name.upper())

MADISON

In [5]:
# Lower method 
school = 'HOWARD UNIVERSITY'

In [7]:
print(school.lower())

howard university

In [8]:
print(school.split())

['HOWARD', 'UNIVERSITY']

In [9]:
a_string = 'h+e+l+l+o'

In [10]:
print(a_string.split('+'))

['h', 'e', 'l', 'l', 'o']

In [11]:
# Count method
activity = 'I am learning Python'
print(activity.count('n'))

3

In [12]:
# Center method
print(activity.center(20))

I am learning Python

In [13]:
print(activity.center(60))

                    I am learning Python

In [14]:
print(activity.center(100))

                                        I am learning Python

In [15]:
type('12345')

str

In [16]:
num_str = '12345'

In [17]:
print(num_str.isnumeric())

True

In [18]:
print(school.isnumeric())

False

In [19]:
# Strip method
name = "  abc   "

In [20]:
# len will return the length of the strings 
len(name)

8

In [21]:
a = name.lstrip()

In [22]:
len(a)

6

In [23]:
b = name.rstrip()
len(b)

5

In [24]:
c = name.strip()
len(c)

3

In [25]:
# list is used to store multiple variables into a single variable 
# every list has to be stored between sqaure brackets
a_list = ['Fruits', ' Vegetables', 'Seafood', "Meat lover"]

In [26]:
a_list[0]

'Fruits'

In [27]:
print(a_list[0])

Fruits

In [28]:
a_list[-1]

'Meat lover'

In [29]:
a_list[0:3]
# Note that the index 3 -Meat Lover- is excluded

['Fruits', ' Vegetables', 'Seafood']

In [31]:
a_list[0:5]

['Fruits', ' Vegetables', 'Seafood', 'Meat lover']

In [33]:
a_list[0] = 'Salad'

In [34]:
a_list

['Salad', ' Vegetables', 'Seafood', 'Meat lover']

In [36]:
a_list[::-1]

['Meat lover', 'Seafood', ' Vegetables', 'Salad']

In [37]:
school[::]

'HOWARD UNIVERSITY'

In [38]:
school[::-1]

'YTISREVINU DRAWOH'

In [39]:
a_list.append('Fish')

In [40]:
a_list

['Salad', ' Vegetables', 'Seafood', 'Meat lover', 'Fish']

In [41]:
a_list.insert(5,'Shrimp')

In [42]:
a_list

['Salad', ' Vegetables', 'Seafood', 'Meat lover', 'Fish', 'Shrimp']

In [43]:
#pop method
a_list.pop(1)

' Vegetables'

In [44]:
a_list

['Salad', 'Seafood', 'Meat lover', 'Fish', 'Shrimp']

In [45]:
# Remove method 
a_list.remove('Fish')

In [46]:
a_list

['Salad', 'Seafood', 'Meat lover', 'Shrimp']

In [47]:
a_list.insert(2, 'Cats')

In [48]:
a_list

['Salad', 'Seafood', 'Cats', 'Meat lover', 'Shrimp']

In [49]:
b_list = ['a','b','c','d']

In [50]:
a_list + b_list

['Salad', 'Seafood', 'Cats', 'Meat lover', 'Shrimp', 'a', 'b', 'c', 'd']

In [51]:
print(a_list)

['Salad', 'Seafood', 'Cats', 'Meat lover', 'Shrimp']

In [52]:
add_list = a_list + b_list

In [53]:
print(add_list)

['Salad', 'Seafood', 'Cats', 'Meat lover', 'Shrimp', 'a', 'b', 'c', 'd']

## Dictionary

##### Dictionaries are used to store data in key value pairs

In [57]:
first_dict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "Mileage" : 200000,
    'Color' : 'Green',
    "Cylinder" : 6
}

In [58]:
first_dict['model']

'Mustang'

In [59]:
first_dict['Origin'] = 'Domestic'

In [60]:
first_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Mileage': 200000,
 'Color': 'Green',
 'Cylinder': 6,
 'Origin': 'Domestic'}

In [61]:
first_dict.pop('Color')

'Green'

In [62]:
first_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Mileage': 200000,
 'Cylinder': 6,
 'Origin': 'Domestic'}

In [63]:
first_dict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('Mileage', 200000), ('Cylinder', 6), ('Origin', 'Domestic')])