# Day 3

 * Data Types
     * Numbers 
     * Strings
     * Variable Assignemnt
     * Printing 
     * String Methods 
     * Lists 
     * Dictionaries 
     * Boolians 
     * Tuples 
     * Sets 
     
* Basic Operations 
    * Comaparison 
    * if, elif, else statements
    * for loops 
    * While loops 
    * range()
    * linspace()
    * list comprehension
    * functions
    * Lambda expressions
    * Map & filter

## Numbers

In [1]:
1+3

4

In [2]:
(1+5)*(5-2)

18

In [3]:
3**3

27

This $\%$ will return the remainder of the opreation

In [4]:
13%3

1

In [5]:
15//4

3

In [6]:
3//4

0

In [7]:
3/2

1.5

In [8]:
# This will return an interger as the quotient
3//2

1

In [9]:
type (2.173279849)

float

In [10]:
type(-3.4)

float

In [11]:
type((2)**0.5)

float

In [12]:
(16)**0.5

4.0

## Strings

In [13]:
# Strings are sequences of alpha character data. 
print('I am a string and I am in a single quotation')

I am a string and I am in a single quotation

In [14]:
type('I am a string and I am in a single quotation')

str

In [15]:
print("I am a string and I am in a double quotation")

I am a string and I am in a double quotation

In [16]:
type("I am a string and I am in a double quotation")

str

In [17]:
type(" ")

str

## Variable Assignment

In [18]:
name = 'Madison'

In [19]:
123_var = 10

SyntaxError: invalid decimal literal (739953904.py, line 1)

In [24]:
var_123 = 4

In [25]:
x = 1
y = 2 
z = x + y

In [26]:
z

3

In [27]:
print(x)

1

In [28]:
x = 'Madison'

In [29]:
x

'Madison'

In [30]:
print(x)

Madison

In [31]:
name = 'Madison'

In [32]:
print('Hello',name,"welcome to REU")

Hello Madison welcome to REU

In [33]:
print('Hello ' + name + " welcome to REU")

Hello Madison welcome to REU

In [34]:
first_name = 'Madison'
last_name = 'Norwood'

In [35]:
print('Hello HU! My first name is: {One} and my last name is {Two}'.format(Two=last_name, One=first_name))

Hello HU! My first name is: Madison and my last name is Norwood

In [36]:
print('Hello HU! My first name is: {} and my last name is {}'.format(first_name, last_name))

Hello HU! My first name is: Madison and my last name is Norwood

## String Method

In [37]:
name = 'madison'

In [38]:
# Title method 
print(name.title())

Madison

In [39]:
# Upper method 
print(name.upper())

MADISON

In [40]:
# Lower method 
school = 'HOWARD UNIVERSITY'

In [41]:
print(school.lower())

howard university

In [42]:
print(school.split())

['HOWARD', 'UNIVERSITY']

In [43]:
a_string = 'h+e+l+l+o'

In [44]:
print(a_string.split('+'))

['h', 'e', 'l', 'l', 'o']

In [45]:
# Count method
activity = 'I am learning Python'
print(activity.count('n'))

3

In [46]:
# Center method
print(activity.center(20))

I am learning Python

In [47]:
print(activity.center(60))

                    I am learning Python

In [48]:
print(activity.center(100))

                                        I am learning Python

In [49]:
type('12345')

str

In [50]:
num_str = '12345'

In [51]:
print(num_str.isnumeric())

True

In [52]:
print(school.isnumeric())

False

In [53]:
# Strip method
name = "  abc   "

In [54]:
# len will return the length of the strings 
len(name)

8

In [55]:
a = name.lstrip()

In [56]:
len(a)

6

In [57]:
b = name.rstrip()
len(b)

5

In [58]:
c = name.strip()
len(c)

3

In [59]:
# list is used to store multiple variables into a single variable 
# every list has to be stored between sqaure brackets
a_list = ['Fruits', ' Vegetables', 'Seafood', "Meat lover"]

In [60]:
a_list[0]

'Fruits'

In [61]:
print(a_list[0])

Fruits

In [62]:
a_list[-1]

'Meat lover'

In [63]:
a_list[0:3]
# Note that the index 3 -Meat Lover- is excluded

['Fruits', ' Vegetables', 'Seafood']

In [64]:
a_list[0:5]

['Fruits', ' Vegetables', 'Seafood', 'Meat lover']

In [65]:
a_list[0] = 'Salad'

In [66]:
a_list

['Salad', ' Vegetables', 'Seafood', 'Meat lover']

In [67]:
a_list[::-1]

['Meat lover', 'Seafood', ' Vegetables', 'Salad']

In [68]:
school[::]

'HOWARD UNIVERSITY'

In [69]:
school[::-1]

'YTISREVINU DRAWOH'

In [70]:
a_list.append('Fish')

In [71]:
a_list

['Salad', ' Vegetables', 'Seafood', 'Meat lover', 'Fish']

In [72]:
a_list.insert(5,'Shrimp')

In [152]:
a_list

['Salad', 'Seafood', 'Cats', 'Meat lover', 'Shrimp']

In [74]:
#pop method
a_list.pop(1)

' Vegetables'

In [75]:
a_list

['Salad', 'Seafood', 'Meat lover', 'Fish', 'Shrimp']

In [76]:
# Remove method 
a_list.remove('Fish')

In [77]:
a_list

['Salad', 'Seafood', 'Meat lover', 'Shrimp']

In [78]:
a_list.insert(2, 'Cats')

In [79]:
a_list

['Salad', 'Seafood', 'Cats', 'Meat lover', 'Shrimp']

In [80]:
b_list = ['a','b','c','d']

In [81]:
a_list + b_list

['Salad', 'Seafood', 'Cats', 'Meat lover', 'Shrimp', 'a', 'b', 'c', 'd']

In [82]:
print(a_list)

['Salad', 'Seafood', 'Cats', 'Meat lover', 'Shrimp']

In [83]:
add_list = a_list + b_list

In [84]:
print(add_list)

['Salad', 'Seafood', 'Cats', 'Meat lover', 'Shrimp', 'a', 'b', 'c', 'd']

## Dictionary

##### Dictionaries are used to store data in key value pairs

In [85]:
first_dict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "Mileage" : 200000,
    'Color' : 'Green',
    "Cylinder" : 6
}

In [86]:
first_dict['model']

'Mustang'

In [87]:
first_dict['Origin'] = 'Domestic'

In [88]:
first_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Mileage': 200000,
 'Color': 'Green',
 'Cylinder': 6,
 'Origin': 'Domestic'}

In [89]:
first_dict.pop('Color')

'Green'

In [90]:
first_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Mileage': 200000,
 'Cylinder': 6,
 'Origin': 'Domestic'}

In [91]:
first_dict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('Mileage', 200000), ('Cylinder', 6), ('Origin', 'Domestic')])

In [92]:
first_dict.keys()

dict_keys(['brand', 'model', 'year', 'Mileage', 'Cylinder', 'Origin'])

In [93]:
first_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Mileage': 200000,
 'Cylinder': 6,
 'Origin': 'Domestic'}

## Boolian

In [94]:
# True or Flase, Approved, Denied, Yes, Non, 1,0

In [95]:
10 > 3

True

In [96]:
-10 > 3

False

In [97]:
print((10 > 3) | (-2 > 5))

True

In [98]:
print((10 > 3) & (-2 > 5))

False

## Tuples

In [99]:
# Unmutable data

In [100]:
my_tuple = ('user_name', 'password', 'secret_question')

In [101]:
a,b,c = my_tuple

In [102]:
a

'user_name'

In [103]:
b

'password'

In [104]:
c

'secret_question'

In [105]:
my_tuple[0]

'user_name'

In [106]:
my_tuple[0] = 'name'

TypeError: 'tuple' object does not support item assignment

In [107]:
l1 = [1,2,3,4,5]

In [108]:
t1 = tuple(l1)

In [109]:
t1[-1] =6

TypeError: 'tuple' object does not support item assignment

## Set

In [110]:
set([1,1,1,3,3,4,5,6,7,7])

{1, 3, 4, 5, 6, 7}

## Basic Operations

In [111]:
1 > 3

False

In [112]:
5 >= 5

True

In [113]:
1 == 1

True

In [114]:
'Hi'== 'Bye'

False

In [115]:
'Hi' == 'hi'

False

In [116]:
x = 5

## If elif else

In [117]:
if True: 
    print('yes')

yes

In [118]:
if True == False: 
    print('Nope')

In [119]:
if 2 > 5:
    print("Bigger")
elif 3 <= 3:
    print('same')
else:
    print('Different')

same

In [120]:
emp_names = [ 'John',  'Mia', 'Josh', 'Kevin', 'Lee']
name = 'Jon'

In [121]:
if name == 'John' or name == 'Mia' or name == 'Josh' or name == "Lee": 
    print('You are an employer. Hence access granted')
else:
    print('Sorry! Employees only')

Sorry! Employees only

In [122]:
name = 'Mia'

In [123]:
if name in emp_names:
    print('You are an employer. Hence access granted')
else:
    print('Sorry! Employees only')

You are an employer. Hence access granted

## Input

In [124]:
your_num = int(input("Please enter your number:"))

Please enter your number:23

In [21]:
type(your_num)

int

In [23]:
n1 = int(input("Please enter your first number"))
n2 = int(input("Please enter your second number "))
if n1 > n2:
    m = n1
else:
    m = n2
print('The maximum is: ', m)

Please enter your first number2
Please enter your second number 4
The maximum is:  4

In [126]:
5! = 5x4x3x2x1

SyntaxError: invalid syntax (1300946746.py, line 1)

In [129]:
# This code will return the factorial of a number 
n = int(input("Please enter a positive integer"))
i = 1
p = 1
while i <= n:
    #p = p*i
    p *= i
    #i = i+1
    i += 1
print('The factorial of' , n, "is" , p)

Please enter a positive integer3
The factorial of 3 is 6

In [130]:
When i = 1
p = 1*1
When i = 2
p = 1*1*2
when i = 3
p = 1*2*3
when i =4
p = 1*2*3*4*
when i = 5
p = 1*2*3*4*5
when i =6 -->> print('Statement ')

SyntaxError: invalid syntax (3992809109.py, line 1)

### practice Use if, elif, else statement to find the maximum of three numbers

In [139]:
n1 = int(input("Please enter your first number"))
n2 = int(input("Please enter your second number "))
n3 = int(input("Please enter your third number"))
if n1 > n2 and n1 > n3:
    m = n1
elif n2 > n1 and n2 > n3:
    m = n2
else:
    m = n3
print('The maximum number is' , m)

Please enter your first number100
Please enter your second number 55
Please enter your third number34
The maximum number is 100

## For loops

In [143]:
Seq = [1,2,3,4,5,6,7,8,9,10]
for num in Seq:
    print(num**2)

1
4
9
16
25
36
49
64
81
100

In [144]:
Seq = [1,2,3,4,5,6,7,8,9,10]
for num in Seq:
    print(num**3)

1
8
27
64
125
216
343
512
729
1000

In [145]:
for num in Seq:
    print("*"*num)

*
**
***
****
*****
******
*******
********
*********
**********

In [146]:
for num in Seq:
    print(("Hi"*num).center(60))

                             Hi
                            HiHi
                           HiHiHi
                          HiHiHiHi
                         HiHiHiHiHi
                        HiHiHiHiHiHi
                       HiHiHiHiHiHiHi
                      HiHiHiHiHiHiHiHi
                     HiHiHiHiHiHiHiHiHi
                    HiHiHiHiHiHiHiHiHiHi

In [147]:
## HW try printing same triangle but reverse, heart symbol using codio

In [148]:
Seq = [10,9,8,7,6,5,4,3,2,1]
for num in Seq:
    print(num*3)

30
27
24
21
18
15
12
9
6
3

In [150]:
for num in Seq:
    print(("HI"*num).center(60))

                    HIHIHIHIHIHIHIHIHIHI
                     HIHIHIHIHIHIHIHIHI
                      HIHIHIHIHIHIHIHI
                       HIHIHIHIHIHIHI
                        HIHIHIHIHIHI
                         HIHIHIHIHI
                          HIHIHIHI
                           HIHIHI
                            HIHI
                             HI

In [151]:
name_gpa = {'Ali': 4.0, 'Kevin': 4.0, "Bertrum": 3.2, 'Sean': 3.5, 'Jennifer': 2.2}

In [153]:
emp_list = []
for name, gpa in name_gpa.items():
    if gpa >= 3.5:
        emp_list.append(name)
print(emp_list)

['Ali', 'Kevin', 'Sean']

In [ ]:
16 --> 16,8,4,2,1 after 8, there are no mrore factors of 16

In [161]:
# the factors of 12 are 12,6,4,3,2,1
n = int(input("Please enter a positive integer:"))
print('Factors of', n, 'are', 1, end = ',')
i = 2
count = 2
suma = n+1
while i <= n//2:
    if n % i == 0:
        print(i, end=',')
        count += 1
        suma = suma +i
    i += 1
print(n)
print("The number of factors is", count)
print("The sum of the factors is", suma)

Please enter a positive integer:14
Factors of 14 are 1,2,7,14
The number of factors is 4
The sum of the factors is 24

In [1]:
pwd

'/home/_20mnorwood/REU/Summer-Project-'

In [6]:
def add_num(num1,num2):
    return num1+num2

In [7]:
add_num(2,6)

8

In [8]:
def double_num(num):
    return num*2

In [10]:
double_num(6)

12

In [12]:
s = [1,2,3,4,5]

In [13]:
s[::-1]

[5, 4, 3, 2, 1]

In [14]:
# val = Y O B
# new val = ""
# 1st new_val = Y+""
# 2nd new_val = O+Y
# 3rd new_val = B+Y+O
def reverse_st(val):
    new_val = ""
    for char in val:
        new_val = char + new_val
    return new_val

In [16]:
reverse_st('HARPO')

'OPRAH'

In [18]:
reverse_st('yensiD')

'Disney'

In [20]:
num_list = [-5,3,2,11,7]

In [22]:
enumerate(num_list)

In [23]:
for idx, num in enumerate(num_list):
    if num < 0:
        num_list[idx] = 0
print(num_list)

[0, 3, 2, 11, 7]

## Lambda Expression

In [24]:
def double_func(num):
    return num*2

In [25]:
double_func(5)

10

In [26]:
double_val = lambda num: num*2

In [27]:
double_val(6)

12

## Map and Filter

In [29]:
seq = [1,2,3,4,5,6]

In [31]:
list (map(double_func, seq))

[2, 4, 6, 8, 10, 12]

In [32]:
list(map(lambda num: num*2, seq))

[2, 4, 6, 8, 10, 12]

In [33]:
list(filter(lambda num: num%2==0, seq))

[2, 4, 6]

In [34]:
len(seq)

6

In [41]:
for num in range(len(seq)):
    if num> 100:
        print("Max")
    else:
        print('Original')

Original
Original
Original
Original
Original
Original

In [42]:
for num in range(len(seq)):
    if num%2==0:
        print("Even")
    else:
        print('Odd')

Even
Odd
Even
Odd
Even
Odd

In [43]:
def double_func(num):
    return num*2

In [44]:
[num*2 for num in seq]

[2, 4, 6, 8, 10, 12]

In [45]:
results = ['Odd' if num%3==0 else "Even" for num in seq]

In [46]:
results

['Even', 'Even', 'Odd', 'Even', 'Even', 'Odd']

In [ ]:
git add 
git commit -m"lambda, map, filter'
git push origin master