# Day 3

 * Data Types
     * Numbers 
     * Strings
     * Variable Assignemnt
     * Printing 
     * String Methods 
     * Lists 
     * Dictionaries 
     * Boolians 
     * Tuples 
     * Sets 
     
* Basic Operations 
    * Comaparison 
    * if, elif, else statements
    * for loops 
    * While loops 
    * range()
    * linspace()
    * list comprehension
    * functions
    * Lambda expressions
    * Map & filter

## Numbers

In [1]:
1+3

4

In [2]:
(1+5)*(5-2)

18

In [3]:
3**3

27

This $\%$ will return the remainder of the opreation

In [4]:
13%3

1

In [5]:
15//4

3

In [6]:
3//4

0

In [7]:
3/2

1.5

In [10]:
# This will return an interger as the quotient
3//2

1

In [11]:
type (2.173279849)

float

In [12]:
type(-3.4)

float

In [13]:
type((2)**0.5)

float

In [14]:
(16)**0.5

4.0

## Strings

In [15]:
# Strings are sequences of alpha character data. 
print('I am a string and I am in a single quotation')

I am a string and I am in a single quotation

In [16]:
type('I am a string and I am in a single quotation')

str

In [17]:
print("I am a string and I am in a double quotation")

I am a string and I am in a double quotation

In [18]:
type("I am a string and I am in a double quotation")

str

In [1]:
type(" ")

str

## Variable Assignment

In [ ]:
name = 'Madison'

In [2]:
123_var = 10

SyntaxError: invalid decimal literal (739953904.py, line 1)

In [3]:
var_123 = 4

In [12]:
x = 1
y = 2 
z = x + y

In [16]:
z

3

In [17]:
print(x)

1

In [22]:
x = 'Madison'

In [23]:
x

'Madison'

In [24]:
print(x)

Madison

In [20]:
name = 'Madison'

In [21]:
print('Hello',name,"welcome to REU")

Hello Madison welcome to REU

In [27]:
print('Hello ' + name + " welcome to REU")

Hello Madison welcome to REU

In [29]:
first_name = 'Madison'
last_name = 'Norwood'

In [33]:
print('Hello HU! My first name is: {One} and my last name is {Two}'.format(Two=last_name, One=first_name))

Hello HU! My first name is: Madison and my last name is Norwood

In [34]:
print('Hello HU! My first name is: {} and my last name is {}'.format(first_name, last_name))

Hello HU! My first name is: Madison and my last name is Norwood